<div class="sections" id="myProfileSection">
<h1>My Profile</h1>

 {{!-- <p class="card-text">From:{{post.username}}</p><div> --}}

{{#each post.posts}}
  <div class="card" style="width: 18rem;">
    {{!-- <img src="{{foto}}" class="card-img-top" alt="..." /> --}}
    <div class="card-body">
      <img src="{{this.foto}}" width="100" height="200"" class="card-img-top" alt="{{restaurante}}">
      <p class="card-text">{{detalles}}</p>
      <p class="card-text">{{this.location}}</p>
     
      <a href="/user/{{_id}}" class="btn btn-dark">See More</a>
    </div>
  </div>

{{else}}
    <p>There no posts</p>
  {{/each}}

</div>


