<h1>My Profile</h1>
{{#each post.posts}}

  <div class="card" style="width: 18rem;">
    {{!-- <img src="{{foto}}" class="card-img-top" alt="..." /> --}}
    <div class="card-body">
      <h5 class="card-title">{{this.foto}}</h5>
      <p class="card-text">{{detalles}}</p>
      <p class="card-text">{{this.location}}</p>
      <p class="card-text">From:{{details.creator.username}}</p>
      <a href="/user/{{_id}}" class="btn btn-primary">More</a>
    </div>
  </div>

{{/each}}