<form action="/user/{{final._id}}/edit" method="POST">
  <div>
    <input name="foto" tipe="text" id="foto" value="{{final.foto}}">
    <Labe> foto</Label>
  </div>
  <div>
    <Input name="restaurante" id="restaurante" tipe="text" value="{{final.restaurante}}">
    <Labe>Restaurante</Label>
  </div>
    <div>
    <Input name="detalles" id="detalles" tipe="text" value="{{final.detalles}}" >
    <Labe>Detalles</Label>
  </div>
  <div>
    <Input name="location" id="location" tipe="text" {{final.location}} >
    <Labe>Location</Label>
  </div>
  <div>
    <button type="submit" >Publicar</button>
  </div>
</form>